/* nav background-color: burlywood;*/

body{
  width: 100%;
  height: 100%;
}

nav{
  width: 100%;
  height: 30%;
  padding: 40px 15px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: rgb(115, 10, 175);
  box-shadow: 1px 1px 5px 2px #00000045;
  z-index: 5;
  text-shadow: rgb(17, 1, 1) -1px -1px 5px;
  position: sticky;
}
.spacing{
  flex: 1;
}
.breadMenu{
  display: block;
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav h4 {
  font-size: 2rem;
}

nav ul {
  width:60vw;
  flex-direction: row;
  display: flex;
  justify-content:flex-end;
   
}
.nav-link{
  display: none;
}

nav ul li{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

nav ul li:hover{
  cursor: pointer;
}

/*this the Hero section for mobile*/
.heroContainer{
  width: 100%;
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 3rem;
  overflow: hidden;
}

.heroHeading{
  position: absolute;
  top: 56%;
  width: 100%;
  text-align: center;
  text-shadow: #190c2267  3px 3px 1px;
  z-index: 2;
  color: rgb(254, 254, 254);
  font-size: 3rem;

}
.heroContainer img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/** carousal styling**/
.wrap{
  display: block;
  padding: 15px;
  max-width: 100%;
  height: 410px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.035);
 }
.wrap h3{
  margin-top: 5px;
  font-size: 1.5rem;
  font-weight:400;
}
.carousalContainer{
  border-radius: 12px;
  margin: 28px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  overflow: auto;
  padding: 10px 2px;
  
}

.carousalContainer img, .carousalCard img{
  max-width: 208px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.302);
  padding: 1px;
}

/**homepage **/
.homePage{
  max-width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* padding-bottom: 50px;*/
  margin-bottom: 50px;
}
.homePage hr{
  margin: 20px;
  width: 80%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.405);
}
/*about style*/
.about-section {
  display: block;
  padding: 50px;
  text-align: center;
  flex: 1;
  width: 100%;
  height: 100vh;
}
.about-section-title {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
}
.about-section-text {
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}


/*contact style*/
.contact-section {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.contact-title {
  margin: 10px auto;
  font-size: 30px;
  font-weight: bold;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #04030333;
  width: 80%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.359);
}
label, input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none; 
}
.contact-form input{
  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.359);
}
textarea{
  height: 80px;
  box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.359);
  margin-bottom: 30px;
}
.submit-button {
  padding: 10px 20px;
  background-color: rgb(94, 4, 143);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.submit-button:hover {
  cursor: pointer;
  background-color: rgb(147, 75, 219);
}

/**product styling**/
.productContainer h1{
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "----";
  width: 90%;
}

.productContainer img {
  max-width: 40%;
  min-width: 40%;
  object-fit: cover;
}

.description{
  overflow: hidden;
  display: none;
}

.productContainer {
  display: flex;
  align-items: center;
  justify-content:space-between;
  max-width: 200px;
  height: 300px;
  flex: 2 2 1 200px;
  padding: 25px;
  gap: 0.7rem;
  flex-direction: column;
  border: rgba(0, 0, 0, 0.384) 1px solid;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.359);
  border-radius: 12px;
  background-color: #fff;
  cursor: pointer;
}
.flexContainer{
  padding: 2px;
  display: flex;
  overflow: auto;
  flex-flow: wrap;
  justify-items: flex-start;
  justify-content: center;
  align-items: center;
  height: 650px;
  gap: 1rem;
}

button{
  padding: 15px;
  border-radius: 20px;
  font-weight: 900;
  background-color:#333;
  color: #fff;
  border: none;
  cursor: pointer;
  
}
button:hover{
  background-color: rgba(225, 109, 42, 0.895);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
/**footer page**/
.footer{
  width: 100%;
  height: 100px;
  background-color: rgba(33, 33, 33, 0.125);
  text-align: center;
  padding: 50px;
  bottom: 0px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.176);
}
  /*
 @media screen and (max-width: 700px) and (min-width: 400px){

  .contact-form {
    width: 80%;
  }
  .nav-link{
    display: none;
  }
  .breadMenu{
    display: block;
  }
  .left-section{
    display: none;
  }
  .carousalContainer{
    padding: 3px;
    
  }

  .carousalCard img{
    max-width: 100%;
    max-height: 100%;
  }
  .wrap{
    flex-direction: row;
    overflow: auto; 
  }
  
}

@media only screen and (max-width: 992px) and (min-width: 699px){

  
  .productContainer{
    flex: 250px;
  }
  .left-section{
    display: none;
  }
  
*/

/**this is for ipad screen**/
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .contact-form {
    width: 45%;
  }
  .nav-link{
    display: flex;
  }
  .breadMenu{
    display:none;
  }
  }

/** for the larger screen size**/
@media only screen and (min-width: 1024px){

  .breadMenu{
    display:none;
  }
  .nav-link{
    display: flex;
  }
  nav h4 {
    font-size: 2rem;
    width: 50%;
  }
  .heroContainer{
    font-weight: 900;
    font-size: 3.2rem; 
    width: 100%;
    height: 550px;
  }
  .heroContainer img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  .heroHeading{
    top: 60%;
    font-size: 6rem;
  }
  
  .wrap{
    width: 80%;
  }

/*next one to fix*/
 
  /*
  .carousalCard{
    max-width: 200px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.421);
  }
   .carousalCard img{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .homePage{
    max-width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 50px;
  }
  
*/
  
  .card-container{
    background-color: burlywood;
    max-width: 500px;
    height: 300px;
    box-shadow: 1px 1px 40px 3px rgba(0, 0, 0, 0.217);
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  .answer{
    font-size: 20px;
  }
  .question{
    font-size: 20px;
  }
  .center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .container{
    background-color: rgba(244, 237, 215, 0.895);
    margin: 50px auto;
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 1px 1px 40px 5px rgba(0, 0, 0, 0.176);
    gap: 1.3rem;
  }
  .QuizContainer{
    background-color: rgba(236, 235, 232, 0.895);
    margin: 50px auto;
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 1px 1px 40px 5px rgba(0, 0, 0, 0.176);
    padding-bottom: 30px;
    gap: 1.5rem;
  }
  
  .shopContainer{
    display: flex;
    flex: 1;
    max-width: 100%;
    height: 100%;
    margin-top: 1px;
    z-index: 1;
  }
  
  .left-section{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    flex: 3;
    background-color: rgb(244, 244, 239);
    align-items: center;
    padding-top: 30px;
    padding-right: 50px;
  }
  .menu h3{
    margin-bottom: 20%;
  }
  .menu{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    max-width: 100%;
    list-style: none;
    gap: 1.5rem;
    align-items:flex-start;
  }
  
  .menu li{
    font-size: 1rem;
    width: 100%;
    z-index: 8;
  }
  .menu li:hover {
    cursor: pointer; 
    color: #000000;
    text-decoration: underline;
  }
  
  
  .right-section{
    width: 100%;
    flex:8;
    padding-top: 50px;
    padding: 50px;
    padding-bottom: 0px;
    background-color: rgba(198, 198, 198, 0.399);
  }
  
  button{
    padding: 15px;
    border-radius: 20px;
    font-weight: 900;
    background-color:#333;
    color: #fff;
    border: none;
    cursor: pointer;
    
  }
  button:hover{
    background-color: rgba(225, 109, 42, 0.895);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .card-container:hover{
    cursor: pointer;
  }
  
  
  /**Product styling**/
  .productContainer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    max-width: 250px;
    height: 350px;
    flex: 1 1 1 250px 350px;
    padding: 25px;
    gap: 0.5rem;
    flex-direction: column;
    border: rgba(0, 0, 0, 0.384) 1px solid;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.359);
    border-radius: 12px;
    background-color: #fff;
    word-break: break-all;
    letter-spacing: normal;
    white-space: normal;
    
  }
  .flexContainer{
    padding: 12px;
    display: flex;
    overflow: auto;
    flex-flow: wrap;
    justify-items: flex-start;
    justify-content: center;
    align-items: center;
    height: 650px;
    gap: 1rem;
  }
  
  /*product stylig*/
  .productContainer img {
    max-width: 50%;
    min-width: 50%;
    object-fit: cover;
  }
  
  
  .description{
    overflow: hidden;
    display: none;
  }
    
  /*contact style*/
  .contact-form {
    width: 36%;
  }
  
  /*The home section styling*/
  .homePage section{
    padding: 50px;
    width: 80%;
    height: 500px;
    background-color: rgba(233, 224, 242, 0.383);
    border-radius: 12px;
    overflow: auto;
  }
  p{
    letter-spacing: 1px;
    word-spacing: 2px;
    padding: 12px;
    
  }
  .homePage p .carousalCard{
    float: left;
    position: relative;
    margin: 22px;
    margin-left: 0;
    margin-top: 0;
  }
  
}
